<ion-header>
  <ion-navbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-item>
          <ion-input type="text" placeholder="Email" name="Email" [(ngModel)]='email'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-item>
          <ion-input class='withIcon' [type]="passwordType" placeholder="Password" name="Password" [(ngModel)]='password'></ion-input>
          <ion-icon item-right [name]="passwordIcon" color="dark" (click)='show()'></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button block> Login </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
